<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 text-success">Products Display</p>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-md-3">
            <div class="card shadow-lg">
                <div class="card-header bg-white">
                    <img src="https://img.freepik.com/free-photo/tomatoes_1232-1910.jpg?semt=ais_hybrid" alt=""
                        class="img-fluid">
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="fw-bold">NAME:</span> Tomato
                        </li>
                        <li class="list-group-item">
                            <span class="fw-bold">PRICE:</span>
                        </li>
                        <li class="list-group-item">
                            <span class="fw-bold">QUANTITY:</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>