<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 text-success">Products Display</p>
        </div>
    </div>
</div>

<div class="container mt-3 mb-4">
    <div class="row g-4"> <!-- Add Bootstrap gutter class to give space in between rows -->
        <div class="col-md-3" *ngFor="let product of products">
            <div class="card shadow-lg h-100">
                <div class="card-header bg-white p-0">
                    <img [src]="product.image" alt="Product Image" class="img-fluid card-img">
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="fw-bold">NAME:</span> {{product.name}}
                        </li>
                        <li class="list-group-item">
                            <span class="fw-bold">PRICE:</span> Rs. {{product.price}}/-
                        </li>
                        <li class="list-group-item">
                            <span class="fw-bold">QUANTITY:</span> {{product.quantity}} kg(s)
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>