/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    background-color: #caebdb !important;
}

.btn {
    margin: 5px;
}

.landing-page {
    background: white url("assets/img/bg-fresh-veges.jpg") no-repeat scroll center;
    background-size: cover;
    height: 100vh;
    color: #5ed39d;
}

.wrapper {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
}

h5,
h4 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}